<div class="conteudo-tabela">
  <div class=" margin-titulo">
    <div class="titulo-card">
      <div class="">
        <h3>Tabela</h3>
      </div>
      <div>
        <button class="btn btn-primary" (click)="openModal('Cadastrar', {}, 'fas fa-plus', true)">
          <i class="fas fa-plus"></i>
          <span class="hidden-mobile">&nbsp;Cadastrar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="conteudo">
    <div class="row pesquisa">
      <div class="col-md-12">
        <div class="form-group form-inline justify-content-between">
          <i class="fas fa-search"></i>
          <!-- Input Campo busca/filtro -->
          <input class="form-control ml-2" type="seach" name="searchTerm" #campoBusca />
          <!-- Loader -->
          <span class="ml-3" *ngIf="loading">
            <svg id="loading-spinner" xmlns="img-src 'self' data:; http://www.w3.org/2000/svg" width="30" height="30"
              viewBox="0 0 48 48">
              <g fill="none">
                <path id="track" fill="#C6CCD2"
                  d="M24,48 C10.745166,48 0,37.254834 0,24 C0,10.745166 10.745166,0 24,0 C37.254834,0 48,10.745166 48,24 C48,37.254834 37.254834,48 24,48 Z M24,44 C35.045695,44 44,35.045695 44,24 C44,12.954305 35.045695,4 24,4 C12.954305,4 4,12.954305 4,24 C4,35.045695 12.954305,44 24,44 Z">
                </path>
                <path id="section" fill="#3F4850"
                  d="M24,0 C37.254834,0 48,10.745166 48,24 L44,24 C44,12.954305 35.045695,4 24,4 L24,0 Z">
                </path>
              </g>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <!-- Tabela -->
    <div class="table-radius">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" (click)="onSort('nome')" [ngClass]="{
              asc: sortParams.orientation === 'asc',
              desc: sortParams.orientation === 'desc',
              active: sortParams.type === 'nome',
              inactive: sortParams.type !== 'nome'
            }">
              Nome
            </th>
            <th scope="col" (click)="onSort('descricao')" [ngClass]="{
              asc: sortParams.orientation === 'asc',
              desc: sortParams.orientation === 'desc',
              active: sortParams.type === 'descricao',
              inactive: sortParams.type !== 'descricao'
            }">
              Descrição
            </th>
            <th scope="col" (click)="onSort('data')" [ngClass]="{
            asc: sortParams.orientation === 'asc',
            desc: sortParams.orientation === 'desc',
            active: sortParams.type === 'data',
            inactive: sortParams.type !== 'data'
          }">
              Data
            </th>
            <th scope="col" (click)="onSort('status')" [ngClass]="{
              asc: sortParams.orientation === 'asc',
              desc: sortParams.orientation === 'desc',
              active: sortParams.type === 'status',
              inactive: sortParams.type !== 'status'
            }">
              Status
            </th>
            <th scope="col" (click)="onSort('responsavel')" [ngClass]="{
            asc: sortParams.orientation === 'asc',
            desc: sortParams.orientation === 'desc',
            active: sortParams.type === 'responsavel',
            inactive: sortParams.type !== 'responsavel'
          }">
              Responsavel
            </th>
            <th scope="col" class="col-1 text-center border-acoes">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of (itens| arrayFiltro : filtro)">
            <tr>
              <td>
                <span>
                  <span [innerHTML]="item.nome | highlight: filtro"></span>
                  <span class="tooltip">{{item.nome}}</span>
                </span>
              </td>
              <td>
                <span>
                  <span [innerHTML]="item.descricao | highlight: filtro"></span>
                  <span class="tooltip">{{item.descricao}}</span>
                </span>
              </td>
              <td>
                <span>
                  <span [innerHTML]="item.data | date: 'dd/MM/yyyy'"></span>
                  <span class="tooltip">{{item.data | date: 'dd/MM/yyyy'}}</span>
                </span>
              </td>
              <td>
                <span>
                  <span [innerHTML]="item.status | highlight: filtro"></span>
                  <span class="tooltip">{{item.status}}</span>
                </span>
              </td>
              <td>
                <span>
                  <span [innerHTML]="item.responsavel | highlight: filtro"></span>
                  <span class="tooltip">{{item.responsavel}}</span>
                </span>
              </td>
              <td class="col-1 text-center border-acoes">
                <span>
                  <span class="fa-stack fa-1x btn-editar" (click)="openModal('Editar', item.id, 'fas fa-edit', true)">
                    <i class="fas fa-circle fa-stack-2x icone-acao-primary"></i>
                    <i class="fas fa-edit fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="tooltip">Editar</span>
                </span>
                <span>
                  <span class="fa-stack fa-1x btn-deletar"
                    (click)="openModal('Excluir', item, 'fas fa-trash-alt', true)">
                    <i class="fas fa-circle fa-stack-2x icone-acao-danger"></i>
                    <i class="fas fa-trash-alt fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="tooltip">Excluír</span>
                </span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- Fim Tabela -->

    <div class="paginacao">
      <!-- Quantidade por pagina -->
      <div class="dropdown">
        <div>
          <div>
            <button id="button-basic" type="button" name="qntPagina" class="btn btn-outline dropdown-toggle show"
              aria-controls="dropdown-basic" [innerHTML]="selectedOption" appDropdown #qntPagina="appDropDown">
            </button>
          </div>
          <ul class="dropdown-menu form-control" [ngClass]="{'show':qntPagina.isOpen}"
            aria-labelledby="contractPeriodDropDown">
            <li *ngFor="let item of tableOptions" (click)="setItensPorPagina(item)" class="dropdown-item"
              [id]="item.value">
              <label [id]="item.value">
                {{ item.label }}
              </label>
            </li>
          </ul>
        </div>
      </div>
      <!-- Paginação -->
      <nav aria-label="Page navigation example">
        <ul class="pagination" *ngIf="itensPagina">
          <li class="page-item" [ngClass]="{'disabled' : itensPagina.currentPage === 1}">
            <a class="page-link" (click)="reload(itensPagina.currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of itensPagina.pages"
            [ngClass]="{'active':itensPagina.currentPage === page}"><a (click)="reload(page)"
              class="page-link">{{page}}</a></li>

          <li class="page-item" [ngClass]="{'disabled' : itensPagina.currentPage === itensPagina.totalPages}">
            <a class="page-link" (click)="reload(itensPagina.currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>

<div @fade *ngIf="modalOpen===true">
  <app-modal [open]="modalOpen" [obj]="obj" [action]="action" [icon]="icon" (closeEvent)="modalOpen=$event">
  </app-modal>
</div>